.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 24px;
    background-color: #ffffff;
    border-bottom: 1px solid #e2e8f0;
    box-sizing: border-box;
    width: 100%;
}

.navbar-wf {
    font-weight: 700;
    font-size: 1.25rem;
    color: black
}

.nav-item {
    text-decoration: none;
    color: #64748b;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out 0s;
}

.navbar-links {
    display: flex;
    list-style: none;
    gap: 8px;
    margin: 0;
    padding: 0;
}

.nav-item:hover{
    background-color: #AE9FE9;
    color: black;
}

a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
