.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAF9F6;
    padding: 5px 7%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    font-family: Arial;
    font-weight: bold;
}

.nav ul{
    flex: 1;
    list-style: none;
    text-align: right;
}

.nav li{
    display: inline-block;
    margin: 10px 20px;
    cursor: pointer;  
    text-decoration: none;
}

.nav li:hover{
    transform: scale(1.07);
}

a {
    color: inherit;
    text-decoration: none;
    transition: transform 0.5s;
}
  
