.sign-up-container{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 300px;
    padding: 20px;
    background-color: #FAF9F6;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
}

.sign-up-button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #5D3FD3;;
    cursor: pointer;
    transition: border-color 0.25s;
    width: 100%;
    
  }
  
  .sign-up-button:hover {
    border-color: #646cff;
  }
  
  .sign-up-button:focus,
  .sign-up-button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

.logo-label {
    text-align: center;
}

.existing-account {
    width: 100%;
    text-align: center;
}

.login-span {
    color: #5D3FD3;
}




