.yt-container{
    display: flex;
    justify-content: center;
    padding: 40px;
    gap: 10px
}
.yt-iframe{
    max-width: 100%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.yt-definition-container{
    background-color: #FAF9F6;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding: 15px; 
    font-size: 20px;
    display: flex;  
    flex-direction: column;
    gap: 20px;
}
.def-span {
    background-color: #AE9FE9; 
    display: inline-block;
    transition: all 0.3s ease;
}

.def-span:hover {
    color: black; 
    transform: translateY(-4px); 
    cursor: pointer; 
    font-weight: 580;
}

.definition-sentence{
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.yt-iframe-def-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 50%;
    align-items: center;
}

.text{
    max-width: 40%;
    font-size: 20px;
    background-color: #FAF9F6;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding: 20px;
    height: 100%; 
    overflow: hidden;
}

.text span {
    display: inline-block;
    transition: all 0.3s ease;
    padding: 2px 6px;
}
  
.text span:hover {
    color: black; 
    transform: translateY(-4px); 
    cursor: pointer; 
    font-weight: 580;
}

.save-def-btn{
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #5D3FD3;;
    cursor: pointer;
    transition: border-color 0.25s;
    width: 100%;
}

.btn-options{
    overflow: auto;
    gap: 10px;
    width: 100%;
}

.save-vid-btn{
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #5D3FD3;;
    cursor: pointer;

    
}

.custom-loader{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 50%;
    font-size: 20px;
    background-color: #FAF9F6;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding: 15px; 
    z-index: 1;
}
